<nav
  class="navbar justify-content-center navbar-light bg-light navbar-expand-lg sticky-top nav-shadow py-0 px-5"
>
  <!-- <div class="container-fluid"> -->
  <!-- <div class="mx-auto">
      <a class="navbar-brand py-3 mx-auto" routerLink="/">
        <img src="assets/logo.svg" height="70px" alt="" />
      </a>
    </div> -->
  <!-- <a class="navbar-brand py-3 mx-auto" routerLink="/">
      <img src="assets/logo.svg" height="70px" alt="" />
    </a> -->

  <div class="d-flex">
    <!-- <a class="navbar-brand mx-auto" href="#">NavBar</a> -->
    <a class="navbar-brand py-3 mx-auto" routerLink="/">
      <img src="assets/logo.svg" height="70px" alt="" />
    </a>

    <button
      *ngIf="isAuthenticated"
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isAuthenticated" class="nav-item px-3">
          <a
            class="nav-link menu-item"
            routerLink="/carte"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Carte interactive</a
          >
        </li>
        <li *ngIf="isAuthenticated" class="nav-item px-3">
          <a
            class="nav-link menu-item"
            routerLink="/admin"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Admin</a
          >
        </li>
        <!-- <li *ngIf="!isAuthenticated" class="nav-item px-3">
            <a
              class="nav-link menu-item"
              routerLink="/login"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Connexion
            </a>
          </li> -->
        <li *ngIf="isAuthenticated" class="nav-item px-3">
          <a
            href="#"
            role="button"
            class="nav-link menu-item"
            (click)="onLogout()"
          >
            Déconnexion
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
</nav>
