.logo {
  // height: 10rem;
  height: auto;
  width: auto;
  max-height: 10rem;
  max-width: 100%;
}

.location-name {
  text-transform: uppercase;
  color: #007e42;
  font-family: opensans, sans-serif;
  font-size: 44.8px;
  font-style: italic;
  font-weight: 800;
}

.location-description {
  text-align: justify;
}

.badge {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.35rem 0.5em;
}

i {
  margin-right: 0.25rem;
}

.icon-width {
  width: 2em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .location-name {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 768px) {
  .location-name {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 520px) {
  .location-name {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
}
