<div class="container">
  <div *ngIf="isLoading" class="mt-5 d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Chargement...</span>
    </div>
  </div>

  <div *ngIf="!isLoading && location" class="transition-1">
    <div class="row">
      <a routerLink="/carte" class="btn-imtd-primary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Retour à la carte
      </a>
    </div>

    <!-- Logo and Location Type Image -->
    <div class="logo-container row my-5">
      <img [src]="logoUrl" class="logo mx-auto" alt="Responsive image" />
    </div>

    <!-- Nom de l'organisation -->
    <div class="mt-3 text-imtd1">
      <h2 *ngIf="location.shortName !== ''" class="location-name transition-1">
        {{ location.shortName }} - {{ location.name }}
      </h2>
      <h2 *ngIf="location.shortName === ''" class="location-name transition-1">
        {{ location.name }}
      </h2>
    </div>

    <!-- Badges -->
    <div class="row pl-3">
      <div *ngFor="let sector of location.sectors">
        <h3 class="badge badge-imtd3 mr-2">
          <!-- <i class="fa fa-car" aria-hidden="true"></i> -->
          {{ sector }}
        </h3>
      </div>
    </div>

    <!-- Badges -->
    <div *ngIf="location.keywords" class="row pl-3">
      <h3 class="badge badge-imtd2 mr-2">
        <i class="fa fa-tag" aria-hidden="true"></i>
        {{ location.keywords }}
      </h3>
    </div>

    <div *ngIf="location.type === TYPE_FORMATION">
      <div class="row pl-3 mt-3">
        <div class="icon-width">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="">
          Type de formation : {{ location.formationTypes.join(", ") }}
        </div>
      </div>

      <div class="row pl-3">
        <div class="icon-width">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </div>
        <div class="">
          Niveau de formation : {{ location.formationLevels.join(", ") }}
        </div>
      </div>
    </div>

    <div class="row pl-3 mt-2 location-description">
      <p>{{ location.description }}</p>
    </div>

    <div class="row pl-3 mt-1">
      <div class="icon-width">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="">{{ location.street }} {{ location.location }}</div>
    </div>

    <div class="row pl-3 mt-1">
      <div class="icon-width">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="">{{ location.postCode }} {{ location.city }}</div>
    </div>

    <div *ngIf="location.numbers > 0" class="row pl-3 mt-1">
      <div class="icon-width">
        <i class="fa fa-users mr-1" aria-hidden="true"></i>
      </div>
      <div class="">{{ location.numbers }} collaborateurs</div>
    </div>

    <div *ngIf="location.phone" class="row pl-3 mt-1">
      <div class="icon-width">
        <i class="fa fa-phone mr-2" aria-hidden="true"></i>
      </div>
      <div class="">
        {{ location.phone }}
      </div>
    </div>

    <div *ngIf="location.website" class="row pl-3 mt-1">
      <div class="icon-width">
        <i class="fa fa-at mr-2" aria-hidden="true"></i>
      </div>
      <div class="">
        <a href="https://{{ location.website }}">{{ location.website }}</a>
      </div>

      <p></p>
    </div>
  </div>
</div>
