<div class="container">
  <h3 class="titre-1 my-5">Les mobilités dans les Hauts-de-France</h3>

  <div class="row my-5">
    <div class="col-xl-3 col-md-3 col-sm-6 text-center counter">
      <div>{{ counterEnt.value }} Entreprises</div>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6 text-center counter">
      <div>{{ counterFor.value }} Formations</div>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6 text-center counter">
      <div>{{ counterLab.value }} Laboratoires</div>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6 text-center counter">
      <div>{{ counterAss.value }} Associations et Institutions</div>
    </div>
  </div>

  <div class="row my-5">
    <h4 class="titre-2">Carte interactive réalisée en partenariat avec</h4>
  </div>

  <div class="row my-5 animate__animated animate__backInLeft">
    <div class="col-xl-3 col-md-3 col-sm-6 my-auto py-2">
      <img src="assets/logo_ARIA.jpg" class="img-fluid" alt="ARIA" />
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6 my-auto py-2">
      <img src="assets/logo_AIF.png" class="img-fluid" alt="AIF" />
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6 my-auto py-2">
      <img src="assets/logo_ALTYTUD.png" class="img-fluid" alt="ALTYTUD" />
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6 my-auto py-2">
      <img src="assets/logo_CMQ.jpg" class="img-fluid" alt="CMQ" />
    </div>
  </div>

  <div class="row my-5">
    <h4 class="titre-2">Parcourez l’écosystème en quelques clics !</h4>
  </div>

  <div class="row mt-5 animate__animated animate__backInRight">
    <div class="col-md-4 col-sm-12 col-12 my-auto">
      <img
        src="assets/logo_europe_feder.jpg"
        class="img-fluid mt-3"
        alt="EUROPE FEDER"
      />
    </div>
    <div class="col-md-2 col-sm-6 col-12 my-auto">
      <img
        src="assets/logo_etat.jpg"
        class="img-fluid mt-3"
        alt="République Française"
      />
    </div>
    <div class="col-md-2 col-sm-6 col-12 my-auto">
      <img
        src="assets/logo_region.jpg"
        class="img-fluid mt-3"
        alt="Hauts-de-France"
      />
    </div>
    <div class="col-md-2 col-sm-6 col-12 my-auto">
      <img
        src="assets/logo_valenciennes.jpg"
        class="img-fluid mt-3"
        alt="Valenciennes"
      />
    </div>
    <div class="col-md-2 col-sm-6 col-12 my-auto">
      <img src="assets/logo_uphf.png" class="img-fluid mt-3" alt="UPHF" />
    </div>
  </div>
</div>
