<div class="container transition-1">
  <div class="bg-video">
    <video
      class="bg-video__content"
      autoplay
      muted
      loop
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
      playbackRate="0.5"
    >
      <source src="assets/imtd_video.mp4" type="video/mp4" />
      <source src="assets/imtd_video.webm" type="video/webm" />
      Your browser is not supported
    </video>
  </div>

  <div class="row">
    <h1 class="titre-1 transition-1 mt-3 mx-auto">
      Les mobilités
    </h1>
  </div>

  <div class="row">
    <span class="subtitle transition-1 my-3 mx-auto">
      dans les Hauts-de-France
    </span>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col-xl-3 col-md-3 col-sm-6">
      <div class="row text-center counter">{{ counterEnt.value }}</div>
      <div class="row text-center counter-type">Entreprises</div>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6">
      <div class="row text-center counter">{{ counterFor.value }}</div>
      <div class="row text-center counter-type">Formations</div>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6">
      <div class="row text-center counter">{{ counterLab.value }}</div>
      <div class="row text-center counter-type">Laboratoires</div>
    </div>
    <div class="col-xl-3 col-md-3 col-sm-6">
      <div class="row text-center counter">{{ counterAss.value }}</div>
      <div class="row text-center counter-type">Assos / Institutions</div>
    </div>
  </div>

  <div class="row my-3"></div>

  <div class="row mb-5">
    <a class="btn-carte transition-1" routerLink="/carte"
      >Parcourez l’écosystème en quelques clics !
      <span class="arrow">
        <svg
          class="arrow-box"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17.5 12.4"
          style="enable-background: new 0 0 17.5 12.4;"
          xml:space="preserve"
        >
          <path
            d="M17.5,6.1l-5.7-5.9c-0.3-0.3-0.8-0.3-1.1,0s-0.3,0.8,0,1.1l4,4.1H0.8C0.4,5.4,0,5.7,0,6.2S0.3,7,0.8,7h13.9l-4,4.1
          c-0.3,0.3-0.3,0.8,0,1.1s0.8,0.3,1.1,0L17.5,6.1z"
          ></path>
        </svg>
      </span>
    </a>
  </div>

  <div class="row mt-5 mb-2">
    <h4 class="titre-2 mx-auto">
      Carte interactive réalisée en partenariat avec
    </h4>
  </div>

  <div
    class="row mb-5 justify-content-md-center animate__animated animate__backInLeft"
  >
    <div class="col-xl-2 col-md-2 col-sm-3 col-6 my-auto">
      <img src="assets/logo_ARIA.jpg" class="img-fluid" alt="ARIA" />
    </div>
    <div class="col-xl-2 col-md-2 col-sm-3 col-6 my-auto">
      <img src="assets/logo_AIF.png" class="img-fluid" alt="AIF" />
    </div>
    <div class="col-xl-2 col-md-2 col-sm-3 col-6 my-auto">
      <img src="assets/logo_ALTYTUD.png" class="img-fluid" alt="ALTYTUD" />
    </div>
    <div class="col-xl-2 col-md-2 col-sm-3 col-6 my-auto">
      <img src="assets/logo_cmq.png" class="img-fluid" alt="CMQ" />
    </div>
  </div>

  <div class="row justify-content-center mt-3 mb-1">
    <h3 class="titre-3 mr-2">
      Une remarque, une suggestion d’ajout, une modification ?
    </h3>
    <a class="button-contact" routerLink="/contact">Contactez-nous !</a>
  </div>
  <hr class="separator" />

  <div
    class="row mb-2 justify-content-center animate__animated animate__backInRight"
  >
    <div class="col-md-2 col-sm-2 col-4 my-auto">
      <img
        src="assets/logo_europe.png"
        class="img-fluid mt-1"
        alt="Hauts-de-France"
      />
    </div>
    <div class="col-md-2 col-sm-2 col-4 my-auto">
      <img
        src="assets/logo_feder.png"
        class="img-fluid mt-1"
        alt="Hauts-de-France"
      />
    </div>
    <div class="col-md-2 col-sm-2 col-4 my-auto">
      <img
        src="assets/logo_region.jpg"
        class="img-fluid mt-1"
        alt="Hauts-de-France"
      />
    </div>
    <div class="col-md-2 col-sm-2 col-4 my-auto">
      <img
        src="assets/logo_valenciennes.jpg"
        class="img-fluid mt-1"
        alt="Valenciennes"
      />
    </div>
    <div class="col-md-2 col-sm-2 col-4 my-auto">
      <img src="assets/logo_uphf.png" class="img-fluid mt-1" alt="UPHF" />
    </div>
  </div>

  <div class="row">
    <a class="footer-item mx-auto" href="https://imtd.fr/mentions-legales/"
      >Mentions légales</a
    >
  </div>
</div>
