// "imtd1": #007e42,
//   "imtd2": #50b652,
//   "imtd3": #0094af,

.titre-1 {
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  // font-style: italic;
  font-size: 65px;
  line-height: 110%;
  font-style: italic;
  text-align: center;
  // transition-timing-function: ease;
  // transition-duration: 0.4s;
  background: linear-gradient(to right, #50b652 0%, #0094af 50%, #007e42 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-family: opensans, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;

  font-size: 2.8rem;
  line-height: 110%;
  text-align: center;
}

.titre-2 {
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

.counter {
  font-weight: 700;
  font-size: 1.5rem;
  // font-family: opensans, sans-serif;
  color: #007e42;
  word-spacing: 5px;
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
}

.btn-carte {
  color: #fff;
  background: #008043;
  font-family: poppins, sans-serif;
  font-style: italic;
  border: none;
  padding: 20px 30px;
  font-size: 20px;
  border-radius: 50px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  align-items: center !important;
  margin: auto !important;
  text-decoration: none;

  // transition-timing-function: ease;
  // transition-duration: 0.4s;

  animation: shadow-pulse 2s infinite;
}

.btn-carte:hover {
  color: #fff;
  background: #363636;
}

.arrow-box {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  fill: #fff;
  margin-left: 20px;
  margin-top: -5px;
  overflow: hidden;
  vertical-align: middle;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgb(0, 0, 0, 0.35);
  }
  50% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

hr.separator {
  border-top: 1px solid #008043;
}

@media screen and (max-width: 1200px) {
  .titre-1 {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 768px) {
  .titre-1 {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .btn-carte {
    padding: 20px 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .titre-1 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .btn-carte {
    padding: 15px 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .btn-carte {
    padding: 12px 12px;
    font-size: 12px;
  }
  .arrow {
    display: none;
  }

  .titre-1 {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }
}
