<form>
  <!-- Location Types -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Type d'organisation : </label>
    <div class="col-sm-9">
      <!-- Types Dropdown -->
      <ng-multiselect-dropdown
        [settings]="typeDropdownSettings"
        [placeholder]="'Sélectionner les types'"
        [data]="locationTypes"
        [(ngModel)]="selectedTypes"
        [ngModelOptions]="{ standalone: true }"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>

  <!-- Location Sectors -->
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Secteurs d'activité : </label>
    <div class="col-sm-9">
      <!-- Sectors Dropdown -->
      <ng-multiselect-dropdown
        [settings]="sectorDropdownSettings"
        [placeholder]="'Sélectionner les secteurs'"
        [data]="locationSectors"
        [(ngModel)]="selectedSectors"
        [ngModelOptions]="{ standalone: true }"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>

  <!-- Search Mode -->
  <div class="form-check">
    <!-- Search by Department Radio -->
    <input
      class="form-check-input"
      type="radio"
      [checked]="searchByDepartment"
      (change)="onSelectSearchByDepartment()"
    />
    <label class="form-check-label">Rechercher par départements</label>
  </div>
  <div class="form-check">
    <!-- Search by Area Radio -->
    <input
      class="form-check-input"
      type="radio"
      [checked]="searchByArea"
      (change)="onSelectSearchByArea()"
    />
    <label class="form-check-label">Rechercher par rayon</label>
  </div>

  <!-- Search By Departments -->
  <div *ngIf="searchByDepartment" class="form-group row">
    <label class="col-sm-3 col-form-label">Département : </label>
    <div class="col-sm-9">
      <!-- Departments Dropdown -->
      <ng-multiselect-dropdown
        [settings]="DepartmentDropdownSettings"
        [placeholder]="'Sélectionner les départements'"
        [data]="locationDepartments"
        [(ngModel)]="selectedDepartments"
        [ngModelOptions]="{ standalone: true }"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>

  <!-- Search By Area -->
  <div *ngIf="searchByArea" class="form-group row">
    <label class="col-sm-4 col-form-label"
      >Rechercher dans un rayon de :
    </label>
    <div class="col-sm-8">
      <!-- Departments Dropdown -->
      <ng-multiselect-dropdown
        [settings]="DistanceDropdownSettings"
        [placeholder]="'Sélectionner le rayon'"
        [data]="locationDistances"
        [(ngModel)]="selectedDistance"
        [ngModelOptions]="{ standalone: true }"
      >
      </ng-multiselect-dropdown>
    </div>

    <label class="col-sm-4 col-form-label">autour de : </label>
    <div class="col-sm-8">
      <!-- Departments Dropdown -->
      <ng-multiselect-dropdown
        [settings]="CityDropdownSettings"
        [placeholder]="'Sélectionner la ville'"
        [data]="locationCities"
        [(ngModel)]="selectedCity"
        [ngModelOptions]="{ standalone: true }"
      >
      </ng-multiselect-dropdown>
    </div>
  </div>

  <button class="btn btn-imtd1" (click)="onSubmit()">
    Rechercher
  </button>
  <button class="btn btn-imtd3" (click)="clearMarkers()">
    clearMarkers()
  </button>
</form>
