#wrapper {
  position: relative;
}

#map {
  height: 600px;
  z-index: 1;
}

#over_map {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.main {
  overflow-y: hidden;
}

.form-title {
  font-weight: 500;
}

.btn-form {
  text-transform: uppercase;
  border-radius: 2rem !important;
  letter-spacing: 1px;
  font-family: poppins, sans-serif;
  font-style: italic;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}
.sidebar {
  max-height: 87vh;
  overflow-y: auto;
}

.collapse-container {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}
.collapse-header {
  background-color: #ffffff;
  color: #007e42;
  border: none;
  outline: none;
  height: 3rem;
  text-align: left;
}
.collapse-content {
  // background-color: red;
  // padding: 2rem 0rem;
  margin-bottom: 1rem;
}
