<div class="row main-container">
  <!-- Map container -->
  <div class="col-lg-8 col-md-12 map-container">
    <!-- Leaflet Map -->
    <div
      id="map"
      class="leaflet-map"
      leaflet
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)"
      [leafletMarkerCluster]="markerClusterData"
      [leafletMarkerClusterOptions]="markerClusterOptions"
      (leafletMarkerClusterReady)="markerClusterReady($event)"
    ></div>
    <!-- End Leaflet Map -->
  </div>
  <!-- End Map container -->

  <!-- Results -->
  <div class="col-lg-4 col-md-12 sidebar-container">
    <!-- <div
    class="col-lg-4 col-md-12 sidebar-container"
    (mouseleave)="collapseAllItems()"
  > -->
    <!-- Sidebar controls -->
    <div class="row justify-content-center mb-3">
      <button
        (click)="onShowForm()"
        class="btn-imtd-secondary mr-3"
        [ngClass]="{ 'btn-imtd-secondary-active': showForm }"
      >
        Formulaire
      </button>
      <button
        (click)="onShowResults()"
        class="btn-imtd-secondary"
        [ngClass]="{ 'btn-imtd-secondary-active': showResults }"
      >
        Résultats
      </button>
    </div>

    <!-- Form -->
    <div
      *ngIf="showForm"
      class="form-container"
      (keypress)="onKeyPressed($event)"
    >
      <!-- Location Type -->
      <div class="form-group px-3">
        <!-- Type Label -->
        <label class="row col-form-label form-title"
          >Type d'organisation :
        </label>

        <!-- Types Dropdown -->
        <ng-multiselect-dropdown
          class="row"
          [settings]="typeDropdownSettings"
          [placeholder]="'Sélectionner le type'"
          [data]="locationTypes"
          [(ngModel)]="selectedTypes"
          [ngModelOptions]="{ standalone: true }"
        >
        </ng-multiselect-dropdown>
      </div>
      <!-- End Location Type -->

      <!-- Location Sectors -->
      <div class="form-group px-3">
        <!-- Sectors Label -->
        <label class="row col-form-label form-title"
          >Secteurs d'activité :
        </label>
        <!-- Sectors Dropdown -->
        <ng-multiselect-dropdown
          class="row"
          [settings]="sectorDropdownSettings"
          [placeholder]="'Sélectionner les secteurs'"
          [data]="locationSectors"
          [(ngModel)]="selectedSectors"
          [ngModelOptions]="{ standalone: true }"
        >
        </ng-multiselect-dropdown>
      </div>
      <!-- End Location Sectors -->

      <!-- Search Mode -->
      <div class="form-check">
        <!-- Search by Department Radio -->
        <input
          class="form-check-input"
          type="radio"
          [checked]="searchByDepartment"
          (change)="onSelectSearchByDepartment()"
        />
        <label class="form-check-label form-title"
          >Rechercher par département</label
        >
      </div>
      <div class="form-check mb-3">
        <!-- Search by Area Radio -->
        <input
          class="form-check-input"
          type="radio"
          [checked]="searchByArea"
          (change)="onSelectSearchByArea()"
        />
        <label class="form-check-label form-title">Rechercher par rayon</label>
      </div>
      <!-- End Search Mode -->

      <!-- Search By Departments -->
      <div *ngIf="searchByDepartment" class="form-group">
        <label class="form-label form-title">Département : </label>
        <!-- <div class=""> -->
        <!-- Departments Dropdown -->
        <ng-multiselect-dropdown
          [settings]="DepartmentDropdownSettings"
          [placeholder]="'Sélectionner les départements'"
          [data]="locationDepartments"
          [(ngModel)]="selectedDepartments"
          [ngModelOptions]="{ standalone: true }"
        >
        </ng-multiselect-dropdown>
        <!-- </div> -->
      </div>

      <!-- Search By Area -->
      <div *ngIf="searchByArea">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label form-title">Rayon de : </label>
          <!-- Departments Dropdown -->
          <ng-multiselect-dropdown
            class="col-sm-8"
            [settings]="DistanceDropdownSettings"
            [placeholder]="'Distance en km'"
            [data]="locationDistances"
            [(ngModel)]="selectedDistance"
            [ngModelOptions]="{ standalone: true }"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label form-title">autour de : </label>
          <!-- Departments Dropdown -->
          <ng-multiselect-dropdown
            class="col-sm-8"
            [settings]="CityDropdownSettings"
            [placeholder]="'Sélectionner la ville'"
            [data]="locationCities"
            [(ngModel)]="selectedCity"
            [ngModelOptions]="{ standalone: true }"
          >
          </ng-multiselect-dropdown>
        </div>
      </div>
      <!-- End Search By Area -->

      <!-- Keyword Input -->
      <div class="form-group row">
        <label class="col-3 col-form-label">Mot-clé : </label>
        <div class="col-9">
          <input
            type="text"
            class="form-control"
            placeholder="Entrer un mot-clé"
            [(ngModel)]="keyword"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <!-- End Keyword Input -->

      <!-- Buttons -->
      <div class="row mt-3 float-right px-3">
        <button class="btn btn-imtd1 btn-form mr-3" (click)="onSubmit()">
          Rechercher
        </button>
        <button class="btn btn-imtd3 btn-form" (click)="reset()">
          Réinitialiser
        </button>
      </div>
    </div>
    <!-- End Form -->

    <!-- Results -->
    <div
      *ngIf="showResults"
      class="results-container"
      (mouseenter)="onMouseEnterResultsContainer()"
    >
      <!-- If results exist -->
      <div *ngIf="activeLocations.length > 0">
        <!-- Number of results -->
        <div class="row">
          <div *ngIf="activeLocations.length === 0" class="mx-auto">
            Aucun Résultat
          </div>
          <div *ngIf="activeLocations.length === 1" class="mx-auto">
            {{ activeLocations.length }} Résultat
          </div>
          <div *ngIf="activeLocations.length > 1" class="mx-auto">
            {{ activeLocations.length }} Résultats
          </div>
        </div>

        <!-- List container -->
        <div class="results-list-container">
          <div
            *ngFor="let location of activeLocations; let i = index"
            class="collapse-container"
            (mouseenter)="onMouseEnterListItem(location)"
            (mouseleave)="onMouseLeaveListItem(location)"
          >
            <!-- List Header -->
            <button
              data-toggle="collapse"
              [attr.data-target]="'#collapse-' + i"
              class="collapse-header"
              (click)="onClickListItem($event, location)"
            >
              {{ location.name }}
            </button>

            <!-- List Content -->
            <div [attr.id]="'collapse-' + i" class="collapse-content collapse">
              <!-- Logo -->
              <div class="row my-4">
                <img
                  [src]="activeLogoUrl"
                  class="list-item-logo img-fluid mx-auto d-block"
                  alt="Responsive image"
                />
              </div>

              <!-- Type and Name -->
              <div class="row list-item-icon-name mb-1">
                <!-- Icon Type -->
                <div class="col-2 px-0">
                  <div *ngIf="location.type === TYPE_ENTREPRISE">
                    <img
                      src="assets/entreprise_rounded_square.svg"
                      class="list-item-type-icon"
                      title="Entreprise"
                      alt="Entreprise"
                    />
                  </div>
                  <div *ngIf="location.type === TYPE_FORMATION">
                    <img
                      src="assets/formation_rounded_square.svg"
                      class="list-item-type-icon"
                      alt="Formation"
                    />
                  </div>
                  <div *ngIf="location.type === TYPE_LABORATOIRE">
                    <img
                      src="assets/laboratoire_rounded_square.svg"
                      class="list-item-type-icon"
                      alt="Laboratoire"
                    />
                  </div>
                  <div *ngIf="location.type === TYPE_ASSOCIATION_INSTITUTION">
                    <img
                      src="assets/institution_rounded_square.svg"
                      class="list-item-type-icon"
                      alt="Assos / Institutions"
                    />
                  </div>
                </div>

                <!-- Name -->
                <div class="col-10 px-0">
                  <div class="list-item list-item-name mb-1">
                    {{ location.name }}
                  </div>
                  <!-- <div
                    *ngIf="location.shortName"
                    class="list-item list-item-name mb-1"
                  >
                    {{ location.shortName }} - {{ location.name }}
                  </div>

                  <div
                    *ngIf="!location.shortName"
                    class="list-item list-item-name mb-1"
                  >
                    {{ location.name }}
                  </div> -->
                </div>
              </div>

              <!-- Sectors -->
              <div class="row mb-2">
                <div *ngFor="let sector of location.sectors">
                  <span class="badge badge-imtd3 badge-small mr-2 mb-1">
                    {{ sector }}
                  </span>
                </div>
              </div>

              <!-- Address -->
              <div class="row list-item list-item-address mb-3">
                {{ location.city }} - {{ location.postCode }}
              </div>

              <!-- Formation Types and Levels -->
              <div *ngIf="location.type === TYPE_FORMATION">
                <div class="row list-item list-item-text">
                  Types de formation : {{ location.formationTypes.join(", ") }}
                </div>
                <div class="row list-item list-item-text mb-3">
                  Niveaux de formation :
                  {{ location.formationLevels.join(", ") }}
                </div>
              </div>

              <!-- Keywords -->
              <div *ngIf="location.keywords">
                <div class="row list-item list-item-text mb-3">
                  Mots-clés : {{ location.keywords }}
                </div>
              </div>

              <!-- Button -->
              <div class="row">
                <button
                  (click)="navigateToLocation(location)"
                  class="popup-btn mx-auto"
                >
                  Voir la fiche
                </button>
              </div>
            </div>
            <!-- End List Content -->
          </div>
        </div>
      </div>

      <!-- If no results -->
      <div *ngIf="activeLocations.length === 0">
        Aucun résultat
      </div>
    </div>
    <!-- End Results -->
  </div>
</div>
