@media screen and (max-width: 990px) {
  .main-container {
    max-height: 0vh;
    height: 0vh;
  }

  .map-container {
    height: 60vh !important;
    max-height: 60vh !important;
  }

  .sidebar-container {
    height: auto !important;
    max-height: 60vh !important;
    margin-top: 1rem;
  }

  .results-list-container {
    height: auto !important;
    max-height: 60vh !important;
    margin-bottom: 1rem !important;
  }
}

.main-container {
  max-height: 86vh;
  height: 83vh;
}

.map-container {
  height: 86vh;
  max-height: inherit;
}

.leaflet-map {
  height: inherit;
}

.sidebar-container {
  height: inherit;
  max-height: inherit;
  width: auto;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.form-container {
  // height: inherit;
}

.results-container {
  max-width: 100%;
  // overflow-x: hidden;
}

.results-list-container {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-title {
  font-weight: 500;
}

.btn-form {
  text-transform: uppercase;
  border-radius: 2rem !important;
  letter-spacing: 1px;
  font-family: poppins, sans-serif;
  font-style: italic;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
}

.collapse-container {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.collapse-header {
  background-color: #ffffff;
  color: #007e42;
  border: none;
  outline: none;
  font-size: 1.2rem;
  font-weight: 400;
  min-height: 3rem;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
}

.collapse-content {
  // background-color: red;
  // padding: 2rem 0rem;
  margin-bottom: 1rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;

  // overflow: hidden;
  // height: auto;
  // max-height: auto;
  // transition: max-height 0.3s ease-out !important;
}

// .list-item-logo {
//   max-height: 100px;
//   width: auto;
// }

// .list-item-type-icon {
//   width: 2.5rem;
//   height: auto;
// }
