/* You can add global styles to this file, and also import other style files */

/* Override Bootstrap values*/
$theme-colors: (
  "imtd1": #007e42,
  "imtd2": #50b652,
  "imtd3": #0094af,
);

/* Import Bootstrap SCSS */
@import "node_modules/bootstrap/scss/bootstrap";

/* Custom SCSS */
body {
  font-family: "Poppins", sans-serif !important;
}

.active {
  // background-color: yellow;
  border-bottom: 0.1rem solid #007e42;
}

.selected-item {
  background: #0094af !important;
  border: 1px solid #0094af !important;
  margin-bottom: 3px !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:before {
  border: 2px solid #0094af !important;
  color: #0094af !important;
}
.multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
  background: #0094af !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  background: #0094af !important;
}

:root {
  --animate-duration: 2000ms;
  --animate-delay: 1s;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// Pop Up

.popup-btn {
  color: #fff !important;
  background: #008043 !important;
  font-family: poppins, sans-serif !important;
  font-style: italic !important;
  border: none !important;
  padding: 5px 15px !important;
  font-size: 16px !important;
  border-radius: 50px !important;
  font-weight: 700 !important;
  white-space: nowrap !important;
  text-transform: uppercase !important;
  align-items: center !important;
  margin: auto !important;
  text-decoration: none !important;
  transition-timing-function: ease !important;
  transition-duration: 0.4s !important;
}

.popup-btn:hover {
  color: #fff !important;
  background: #363636 !important;
}
